body
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    height: 100vh;
    width: 100vw;
}
header,footer
{
    text-align: center;
    width: 100%;
    font-size: 20pt;
    line-height: 30pt;
}
header,footer
{
    background-color: #111BD9 ;
    color:white ;
}
li
{
    display: flex;
}